<p>usercreate works!</p>

<form #form=ngForm>
    <div class="register">
        <div class="form-row">
            <div class="col">
                <input required minlength="4" maxlength="20" #JmenoUzivatel="ngModel" name="name" type="name" [(ngModel)]="jmeno"  class="form-control" placeholder="Username">
            </div>
            <div *ngIf="JmenoUzivatel.invalid && JmenoUzivatel.touched">
                <span *ngIf="JmenoUzivatel.errors.required">Napis Jmeno</span>
                <span *ngIf="JmenoUzivatel.errors.minlength">Jmeno moc kratke</span>
                <span *ngIf="JmenoUzivatel.errors.maxlength">Jmeno moc dlouhe</span>
            </div>
            <div class="col">
                <input required minlength="6" maxlength="100" #HesloUzivatel="ngModel" name="password" type="password" [(ngModel)]="heslo"  class="form-control" placeholder="Password">
            </div>
            <div *ngIf="HesloUzivatel.invalid && HesloUzivatel.touched">
                <span *ngIf="HesloUzivatel.errors.required">Napis heslo</span>
                <span *ngIf="HesloUzivatel.errors.minlength">Heslo moc kratke</span>
                <span *ngIf="HesloUzivatel.errors.maxlength">Jsi magor? Jake heslo mas pres 100 znaků</span>
            </div>
            <div class="col-auto">
                <button [disabled]="form.invalid" type="submit" (click)="create()" class="btn btn-primary mb-2">Register</button>
            </div>

        </div>

    </div>

</form>
